html {
  overflow-y: scroll;
}

html, body {
	background: #807e7a; /* Change to img, use as alt */
	height: 100%;
  margin: 0;
  padding: 0;
}

.topnav div {
  float: right;
}

#myTopnav {
  z-index: 10;
}

.main {
  height: inherit;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* margin: 48px auto 0; */
  margin: 4em auto 0;
  padding: 1em 5em;
  background-color: white;/* #1ab372; */
  min-height: calc(100% - 6em);
  z-index: 0;
  max-width: 800px;
}

.tabcontent {
  display: none;
}

.content > div > p {
  font-size: 1.5em;
  text-align: justify;
}

.content > div > h1 {
  font-size: 3em;
  text-align: center;
}

.content :first-child > p:first-child {
  padding-top: 0;
  margin-top: 0;
}

.invisible {
  display: none;
}

/* Services Tab */
#services .element {
  font-size: 1.5em;
}

#services .element > img {
  width: 3em;
  height: 3em;
  float: left;
}

#services .element > p {
  margin-left: 4em;
  text-align: justify;
}

#services > .wrapper > h1 {
  font-size: 3em;
  text-align: center;
}

/* Contact Tab */
#contact div {
  font-size: 1.5em;  
}

#contact div img {
  width: 6em;
  height: 6em;
  float: left;
}

#contact div div {
  margin-left: 6em;
  text-align: justify;
}

/* #contact > .temp img {
  width: 50px;
  height: 50px;
}

#contact > .temp p {
  margin-left: 4em;
} */
