html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: justify;
  font-size: min(max(18px, 3vw), 30px);
}

.nightmode {
  background-color: black;
  color: white;
}

body {
  max-width: calc(25em);
  margin: 0 auto;
  
}

br {
  margin-bottom: .1em;
}

#header {
  width: calc(100% - (1em * 2));
  font-weight: bold;
  height: 1em;
  padding: 0.7em 1em 0;
  text-align: center;
}

#text {
  padding: 5px 1em 10px;
  text-align: justify;
}

.passage {
  
}

.header.small {
  padding: 0;
  margin: .08em 0;
  font-weight: normal;
  direction: ltr;
  text-transform: lowercase;
  font-variant: small-caps;
  text-align: center;
  font-size: .8em;
}

.chazzan::before {
  font-size: .7em;
  content: "\2756  ";
}

